
	
	
	


<p align="center" style="margin-bottom: 0cm; line-height: 100%"><font face="Arial, serif"><font size="2" style="font-size: 9pt"><b>PASLAUGŲ
TEIKIMO SUTARTIS  Nr.</b></font></font><font face="Arial, serif"><font size="2" style="font-size: 9pt">
 </font></font><font face="Arial, serif"><font size="2" style="font-size: 9pt"><b>2015/..../....
- 01</b></font></font></p><p align="center" style="margin-bottom: 0cm; line-height: 100%"><font face="Arial, serif"><font size="2" style="font-size: 9pt">Vilnius,
du tūkstančiai penkioliktųjų metų ________ mėnesio _______
diena</font></font></p><p align="justify" style="margin-bottom: 0cm; line-height: 100%"><br>
</p><p align="justify" style="margin-bottom: 0cm; line-height: 100%"><font face="Arial, serif"><font size="2" style="font-size: 9pt"><b><span > ${object.company_id.name or "" } </span></b></font></font><font face="Arial, serif"><font size="2" style="font-size: 9pt">
<!-- Company name -->(toliau vadinamas </font></font><font face="Arial, serif"><font size="2" style="font-size: 9pt"><i><b>„Vykdytoju“</b></i></font></font><font face="Arial, serif"><font size="2" style="font-size: 9pt">)
ir </font></font><font face="Arial, serif"><font size="2" style="font-size: 9pt"><span > ${object.partner_id.name or "" } <!-- Customer‘s company name --></span></font></font><font face="Arial, serif"><font size="2" style="font-size: 9pt">
(toliau vadinamas </font></font><font face="Arial, serif"><font size="2" style="font-size: 9pt"><i><b>„Užsakovu“</b></i></font></font><font face="Arial, serif"><font size="2" style="font-size: 9pt">),
toliau abu atskirai vadinami </font></font><font face="Arial, serif"><font size="2" style="font-size: 9pt"><i><b>„Šalimi“</b></i></font></font><font face="Arial, serif"><font size="2" style="font-size: 9pt">,
o abu kartu </font></font><font face="Arial, serif"><font size="2" style="font-size: 9pt"><i><b>„Šalimis“</b></i></font></font><font face="Arial, serif"><font size="2" style="font-size: 9pt"><i>,</i></font></font><font face="Arial, serif"><font size="2" style="font-size: 9pt"><i><b>
</b></i></font></font><font face="Arial, serif"><font size="2" style="font-size: 9pt"><b>atsižvelgdami
į tai, kad </b></font></font><font face="Arial, serif"><font size="2" style="font-size: 9pt">Užsakovas
siekia gauti maketavimo, spaudos ir (ar) reklamos gamybos paslaugas,
o Vykdytojas yra profesionalus tokių paslaugų teikėjas, turintis
SA 8000, ISO 9001 ir ISO 14001 sertifikatus, sudarė šią paslaugų
teikimo sutartį (toliau vadinama </font></font><font face="Arial, serif"><font size="2" style="font-size: 9pt"><i><b>„Sutartimi“</b></i></font></font><font face="Arial, serif"><font size="2" style="font-size: 9pt">)
ir joje susitarė dėl žemiau išdėstyto:</font></font></p><ol style="padding-left:10px" >
	<li><p align="justify" style="margin-bottom: 0cm; line-height: 100%">
	<font face="Arial, serif"><font size="2" style="font-size: 9pt"><b>SUTARTIES
	OBJEKTAS</b></font></font></p>
	<ol style="padding-left:10px" >
		<li><p align="justify" style="margin-bottom: 0cm; line-height: 100%">
		<font face="Arial, serif"><font size="2" style="font-size: 9pt">Šia
		Sutartimi Vykdytojas įsipareigoja kokybiškai ir laiku Užsakovui
		atlikti maketavimo, spaudos ir reklamos gamybos darbus (toliau
		vadinama </font></font><font face="Arial, serif"><font size="2" style="font-size: 9pt"><i><b>„Darbais“</b></i></font></font><font face="Arial, serif"><font size="2" style="font-size: 9pt">)
		pagal šios Sutarties užsakymuose-prieduose (pavyzdinė forma
		pridedama prie šios Sutarties kaip priedas Nr.&nbsp;1; toliau
		vadinama </font></font><font face="Arial, serif"><font size="2" style="font-size: 9pt"><i><b>„Užsakymais“</b></i></font></font><font face="Arial, serif"><font size="2" style="font-size: 9pt">)
		nustatytus parametrus, o Užsakovas įsipareigoja priimti Darbus ir
		už juos laiku atsiskaityti su Vykdytoju taip, kaip numatyta šioje
		Sutartyje.</font></font></p>
		</li><li><p align="justify" style="margin-bottom: 0cm; line-height: 100%">
		<font face="Arial, serif"><font size="2" style="font-size: 9pt">Darbų
		turinys, pavadinimai, kaina, apimtys ir atlikimo terminai yra
		nurodomi Užsakymuose, kurie nuo abiejų Šalių raštiško
		patvirtinimo dienos tampa neatsiejama šios Sutarties dalimi.
		Užsakymai gali būti pateikti vienu iš toliau nurodytų būdų:
		(i) pateikiant popierinį užsakymą adresu </font></font><font face="Arial, serif"><font size="2" style="font-size: 9pt"><span > ${object.company_id.street or "" }, ${object.company_id.city or "" }, ${object.company_id.state_id.name or "" }, ${object.company_id.zip or "" }, ${object.company_id.country_id.name or "" } <!-- Company‘s address --></span></font></font><font face="Arial, serif"><font size="2" style="font-size: 9pt">;
		(ii) faksu, Nr. </font></font><font face="Arial, serif"><font size="2" style="font-size: 9pt"><span > ${object.company_id.fax or ""  or "" } <!-- Company‘s fax number --></span></font></font><font face="Arial, serif"><font size="2" style="font-size: 9pt">;
		(iii) el. paštu, adresu </font></font><font face="Arial, serif"><font size="2" style="font-size: 9pt"><span >${object.company_id.email or ""  or "" }<!-- Company‘s email address --></span></font></font><font face="Arial, serif"><font size="2" style="font-size: 9pt">.
		Užsakymas nusiųstas faksu ar el. paštu laikomas gautu sekančią
		darbo dieną. Vykdytojas Užsakymą patvirtina nusiųsdamas
		Užsakovui atitinkamą pranešimą Užsakovo nurodytu el. pašto
		adresu arba fakso numeriu. </font></font>
		</p>
	</li></ol>
	</li><li><p align="justify" style="margin-bottom: 0cm; line-height: 100%">
	<font face="Arial, serif"><font size="2" style="font-size: 9pt"><b>UŽSAKYMO
	VYKDYMAS</b></font></font></p>
	<ol style="padding-left:10px" >
		<li><p align="justify" style="margin-bottom: 0cm; line-height: 100%">
		<font face="Arial, serif"><font size="2" style="font-size: 9pt">Vykdytojas
		įsipareigoja, laikantis nustatytų kokybės reikalavimų,
		sąžiningai, atsakingai ir laiku atlikti Darbus nurodytus
		Užsakyme. Jeigu kokybės reikalavimai nėra specialiai aptarti
		Užsakyme, Vykdytojo Darbų kokybė turi atitikti įprastai tokios
		rūšies darbams keliamus reikalavimus ir kokybę. </font></font>
		</p>
		</li><li><p align="justify" style="margin-bottom: 0cm; line-height: 100%">
		<font face="Arial, serif"><font size="2" style="font-size: 9pt">Vykdytojas
		įsipareigoja visus Darbus atlikti savo medžiagomis, jei
		Užsakymuose nenumatyta kitaip. Vykdytojas atsako už panaudotų
		Darbams medžiagų kokybę, išskyrus atvejus, kai medžiagą
		pateikia Užsakovas arba ji yra įsigyjama Užsakovo nurodymu.
		Vykdytojas Darbams parenka medžiagas su įprastomis tokioms
		medžiagoms taikomomis gamintojo garantijomis.</font></font></p>
	</li></ol>
	</li><li><p align="justify" style="margin-bottom: 0cm; line-height: 100%">
	<font face="Arial, serif"><font size="2" style="font-size: 9pt"><b>ATLIKTŲ
	DARBŲ PRIĖMIMAS-PERDAVIMAS</b></font></font></p>
	<ol style="padding-left:10px" >
		<li><p align="justify" style="margin-bottom: 0cm; line-height: 100%">
		<font face="Arial, serif"><font size="2" style="font-size: 9pt">Atlikęs
		Darbus, Vykdytojas apie tai informuoja Užsakovą telefonu arba el.
		paštu, kurį pastarasis nurodo Vykdytojui. Atliktų Darbų (t.&nbsp;y.
		pagamintos produkcijos) atsiėmimo ar pristatymo sąlygos
		nustatomos Užsakymuose. Jeigu Užsakyme minėtos sąlygos nėra
		nurodytos, laikoma, kad Užsakovas visus Darbų rezultatus savo
		sąskaita ir jėgomis atsiima Vykdytojo patalpose, esančiose
		adresu Šeimyniškių g. 5A, Vilniuje, ne vėliau kaip per 3 (tris)
		darbo dienas, skaičiuojant nuo Užsakovo informavimo dienos. Darbų
		rezultatai turi būti atsiimami Vykdytojo darbo laiku (I-V: 8-17
		val., išskyrus oficialias šventines dienas). Darbų rezultatai
		priimami-perduodami pasirašant Vykdytojo parengtą
		priėmimo-perdavimo aktą (toliau vadinama „</font></font><font face="Arial, serif"><font size="2" style="font-size: 9pt"><b>Aktu</b></font></font><font face="Arial, serif"><font size="2" style="font-size: 9pt">“).
		Jeigu viena iš Šalių neteisėtai atsisako pasirašyti Aktą, tai
		aktas laikomas galiojančiu jį pasirašius tik vienai iš Šalių.
		Užsakovui neteisėtai atsisakant pasirašyti Aktą, Vykdytojas
		turi teisę sustabdyti Darbų perdavimą Užsakovui iki kol
		pastarasis pasirašys Aktą.</font></font></p>
		</li><li><p align="justify" style="margin-bottom: 0cm; line-height: 100%">
		<font face="Arial, serif"><font size="2" style="font-size: 9pt">Užsakovas
		turi apžiūrėti Darbų rezultatus ir gali pareikšti pagrįstas
		ir motyvuotas pretenzijas, jei tokios yra, dėl Darbų kokybės ne
		vėliau kaip per 3 (tris) darbo dienas nuo Akto pasirašymo dienos
		arba nuo Darbų priėmimo-perdavimo momento, jeigu Aktas nebuvo
		pasirašytas. Nepareiškus pretenzijų per minėtą terminą,
		laikoma, kad Užsakovas visus Darbus priėmė kaip kokybiškus ir
		atliktus tinkamai, todėl jokių pretenzijų Vykdytojui neturi. </font></font>
		</p>
	</li></ol>
	</li><li><p align="justify" style="margin-bottom: 0cm; line-height: 100%">
	<font face="Arial, serif"><font size="2" style="font-size: 9pt"><b>ATSISKAITYMAI</b></font></font></p>
	<ol style="padding-left:10px" >
		<li><p align="justify" style="margin-bottom: 0cm; line-height: 100%; widows: 2; orphans: 2">
		<font face="Arial, serif"><font size="2" style="font-size: 9pt">Darbų
		įkainiai nurodomi Užsakymuose. </font></font><font color="#00000a"><font face="Arial, serif"><font size="2" style="font-size: 9pt">Vykdytojui
		atlikus Darbus, jis išrašo PVM sąskaitą&nbsp;faktūrą ir ją
		pateikia Užsakovui el. paštu, adresu: </font></font></font><font color="#00000a"><font face="Arial, serif"><font size="2" style="font-size: 9pt"><span >${object.partner_id.email or ""  or "" }<!-- Customer‘s email address. --></span></font></font></font><font color="#00000a"><font face="Arial, serif"><font size="2" style="font-size: 9pt">.
		Sąskaita laikoma gauta sekančią darbo dieną, einančią po
		išsiuntimo dienos. Vykdytojas privalo apmokėti sąskaitą ne
		vėliau kaip per 7 (septynias) kalendorines dienas, nuo jos
		pateikimo dienos, nebent kitas terminas nurodytas PVM sąskaitoje
		faktūroje. </font></font></font>
		</p>
	</li></ol>
	</li><li><p align="justify" style="margin-bottom: 0cm; line-height: 100%">
	<font face="Arial, serif"><font size="2" style="font-size: 9pt"><b>INTELEKTINĖS
	NUOSAVYBĖS TEISĖS</b></font></font></p>
	<ol style="padding-left:10px" >
		<li><p align="justify" style="margin-bottom: 0cm; line-height: 100%">
		<font face="Arial, serif"><font size="2" style="font-size: 9pt">Visos
		teisės į objektus (ženklai, nuotraukos ir t.&nbsp;t.), kuriuos
		Užsakovas pateikia Vykdytojui pagal šią Sutartį, priklauso
		Užsakovui ir Vykdytojas turi teisę naudotis pateiktais objektais
		tik ta apimtimi ir tik tokiomis teisėmis (saugoti, modifikuoti ir
		pan.) į juos, kiek tai yra būtina tinkamai įvykdyti savo
		prievoles pagal Sutartį, nebent Sutartyje būtų numatyta kitaip.</font></font></p>
		</li><li><p align="justify" style="margin-bottom: 0cm; line-height: 100%">
		<font face="Arial, serif"><font size="2" style="font-size: 9pt">Užsakovas
		prisiima visą atsakomybę už informacijos (vaizdinės, tekstinės
		ir kt.), pateiktos Vykdytojui, teisingumą, jos pilnumą ir pan.,
		taip pat patvirtina, kad ji nepažeidžia trečiųjų asmenų
		teisių ir teisėtų interesų, bei atitinka (nepažeidžia)
		Lietuvos Respublikos teisės aktų nuostatų. Tuo atveju, jeigu
		šiame punkte įtvirtintų prievolių Užsakovas neįvykdo, tame
		tarpe, paaiškėja, kad jo patvirtinimai neatitinka tikrovės, tai
		Užsakovas privalo atlyginti Vykdytojui visus jo dėl to patirtus
		nuostolius, bei aktyviais veiksmais ginti nuo trečiųjų asmenų
		Vykdytojui pareikštų pretenzijų (ieškinių), jeigu tokie būtų
		pareikšti.   </font></font>
		</p>
		</li><li><p align="justify" style="margin-bottom: 0cm; line-height: 100%">
		<font face="Arial, serif"><font size="2" style="font-size: 9pt">Visos
		teisės į vykdant šią Sutartį sukūrtus objektus (Darbų
		rezultatus) priklauso Vykdytojui, išskyrus Užsakovo teisę
		naudoti objektus pagal tiesioginę jų paskirtį. Užsakovas turi
		teisę naudotis minėta teise neapsiribojant teritorija („pasaulinė
		licencija“) ir neterminuotai.</font></font></p>
	</li></ol>
	</li><li><p align="justify" style="margin-bottom: 0cm; line-height: 100%">
	<font face="Arial, serif"><font size="2" style="font-size: 9pt"><b>ŠALIŲ
	ATSAKOMYBĖ</b></font></font></p>
	<ol style="padding-left:10px" >
		<li><p align="justify" style="margin-bottom: 0cm; line-height: 100%">
		<font face="Arial, serif"><font size="2" style="font-size: 9pt">Sutarties
		sąlygų nesilaikanti Šalis atsako Sutartyje ir teisės aktuose
		numatyta tvarka. Sutartį pažeidusi Šalis turi atlyginti kitai
		Šaliai jos patirtus tiesioginius nuostolius, išskyrus atvejus,
		kai kitaip numatyta Sutartyje.</font></font></p>
		</li><li><p align="justify" style="margin-bottom: 0cm; line-height: 100%">
		<font face="Arial, serif"><font size="2" style="font-size: 9pt">Jeigu
		Vykdytojas Sutartyje nustatytu laiku neatlieka Darbų, jis moka
		Užsakovui 0,2 (dviejų dešimtųjų)&nbsp;% dydžio delspinigius
		nuo laiku neatliktų Darbų sumos, nurodytos Užsakyme, už
		kiekvieną pavėluotą atlikti Darbus kalendorinę dieną.</font></font></p>
		</li><li><p align="justify" style="margin-bottom: 0cm; line-height: 100%">
		<font face="Arial, serif"><font size="2" style="font-size: 9pt">Jeigu
		Užsakovas vėluoja atsiskaityti su Vykdytoju Sutartyje nustatyta
		tvarka ir terminais, jis moka Vykdytojui: (i) 0,2 (dviejų
		dešimtųjų) % dydžio delspinigius nuo uždelstos apmokėti sumos
		už kiekvieną pradelstą sumokėti kalendorinę dieną; arba (ii)
		tuo atveju, jeigu skola nepadengiama 180 (šimtą aštuoniasdešimt)
		kalendorinių dienų ir ilgiau, tai nuo 181 (šimtas
		aštuoniasdešimt pirmos) kalendorinės dienos delspinigių dydis
		padidėja iki 1 (vieno) procento už kiekvieną uždelstą sumokėti
		dieną.</font></font></p>
		</li><li><p align="justify" style="margin-bottom: 0cm; line-height: 100%">
		<font face="Arial, serif"><font size="2" style="font-size: 9pt">Užsakovui
		neatsiėmus Darbų rezultatų per sutartą terminą (nurodytą
		Užsakyme arba šioje Sutartyje), jis įsipareigoja mokėti
		Vykdytojui: (i) 0,2 (dviejų dešimtųjų) % dydžio baudą už
		kiekvieną pradelstą atsiimti Darbų rezultatus kalendorinę dieną
		nuo Darbų kainos sumos; ir (ar) (ii) tuo atveju, jeigu Darbų
		rezultatai neatsiimami 30 (trisdešimt) kalendorinių dienų ir
		ilgiau, tai Vykdytojas turi teisę visą ar dalį Darbų rezultatų
		atlygintinai perleisti trečiajai šaliai ir iš gautų lėšų
		patenkinti visus ar dalį piniginių reikalavimų į Užsakovą.</font></font></p>
		</li><li><p align="justify" style="margin-bottom: 0cm; line-height: 100%">
		<font face="Arial, serif"><font size="2" style="font-size: 9pt">Vykdytojo
		atsakomybė, kylanti iš šios Sutarties, visais atvejais yra
		ribojama Darbų kainos, nurodytos konkrečiame Užsakyme, dėl
		kurio vykdymo (nevykdymo) kilo atsakomybė, dydžiu, išskyrus
		atvejus, kai Užsakovas nuostolius patyrė dėl Vykdytojo tyčinių
		veiksmų. </font></font>
		</p>
		</li><li><p align="justify" style="margin-bottom: 0cm; line-height: 100%">
		<font face="Arial, serif"><font size="2" style="font-size: 9pt">Šioje
		Sutarties dalyje numatytas prievoles Šalys turi įvykdyti ne
		vėliau kaip per 5 (penkias) darbo dienas, po kitos Šalies
		rašytinio reikalavimo pateikimo kitai Šaliai dienos, nebent šios
		Sutarties dalies punktuose yra numatyti kiti prievolių įvykdymo
		terminai.  </font></font>
		</p>
	</li></ol>
</li></ol><p align="justify" style="margin-bottom: 0cm; line-height: 100%; widows: 2; orphans: 2">
<br>
</p><ol style="padding-left:10px"  start="7">
	<li><p align="justify" style="margin-bottom: 0cm; line-height: 100%">
	<font face="Arial, serif"><font size="2" style="font-size: 9pt"><b>SUTARTIES
	GALIOJIMAS IR NUTRAUKIMAS</b></font></font></p>
	<ol style="padding-left:10px" >
		<li><p align="justify" style="margin-bottom: 0cm; line-height: 100%">
		<font face="Arial, serif"><font size="2" style="font-size: 9pt">Sutartis
		įsigalioja nuo jos pasirašymo momento ir galioja iki </font></font><font face="Arial, serif"><font size="2" style="font-size: 9pt"><span >${object.date or "" }<!-- Contract valid until (date). --></span></font></font><font face="Arial, serif"><font size="2" style="font-size: 9pt">
		d. Tuo atveju, jeigu nei viena iš Šalių, likus ne daugiau kaip
		30 (trisdešimčiai) kalendorinių dienų iki Sutarties galiojimo
		pabaigos, nepraneša raštu kitai Šaliai apie ketinimą nepratęsti
		Sutarties, jos galiojimas automatiškai prasitęsia dar vieneriems
		metams. Anksčiau sutarto termino Sutartis gali būti nutraukta tik
		šioje Sutartyje numatyta tvarka ir terminais. Sutarties nuostatos,
		kurios akivaizdu, kad turi galioti ir po Sutarties nutraukimo ar
		pasibaigimo, lieka galioti ir po Sutarties galiojimo pabaigos. </font></font>
		</p>
		</li><li><p align="justify" style="margin-bottom: 0cm; line-height: 100%">
		<font face="Arial, serif"><font size="2" style="font-size: 9pt">Bet
		kuri Šalis turi teisę vienašališkai nutraukti šią Sutartį
		apie tai raštu įspėdama kitą Šalį ne mažiau kaip prieš 30
		(trisdešimt) kalendorinių dienų iki numatomos nutraukimo datos.
		Sutarties nutraukimas neatleidžia Šalies nuo iki Sutarties
		nutraukimo dienos prisiimtų įsipareigojimų visiško įvykdymo,
		tame tarpe, Užsakovas nutraukęs šią Sutartį įsipareigoja
		atlyginti Vykdytojui už faktiškai atliktus Darbus bei atlyginti
		jo patirtas išlaidas/nuostolius iki Sutarties nutraukimo dienos.</font></font></p>
		</li><li><p align="justify" style="margin-bottom: 0cm; line-height: 100%"><a name="_GoBack"></a>
		<font face="Arial, serif"><font size="2" style="font-size: 9pt">Jeigu
		viena iš Šalių nevykdo arba netinkamai vykdo savo
		įsipareigojimus pagal šią Sutartį, kita Šalis turi teisę
		raštu pareikalauti iš įsipareigojimų nevykdančios Šalies
		nedelsiant, bet ne ilgiau kaip per 3 (tris) darbo dienas,
		skaičiuojant nuo reikalavimo pateikimo dienos, nutraukti pažeidimą
		ir pašalinti jo padarinius. Jeigu minėta Šalis nenutraukia ir
		(ar) nepašalina pažeidimų/padarinių per minėtą terminą, tai
		kita Šalis turi teisę vienašališkai nutraukti Sutartį,
		nusiųsdama pranešimą apie Sutarties nutraukimą. Sutartis tokiu
		atveju laikoma nutraukta nuo minėto pranešimo gavimo dienos.</font></font></p>
		</li><li><p align="justify" style="margin-bottom: 0cm; line-height: 100%">
		<font face="Arial, serif"><font size="2" style="font-size: 9pt">Vykdytojas
		turi teisę reikalauti iš Užsakovo nedelsiant sumokėti visas
		sumas už jau atliktus Darbus, bei nutraukti Sutartį, jeigu yra
		objektyvių priežasčių, galinčių sukelti Užsakovo nemokumą,
		įskaitant ir toliau išvardytus atvejus: (i) kai Užsakovui
		pradedama restruktūrizavimo procedūra; (ii) kai Užsakovui
		pradedama bankroto procedūra; (iii) kai Vykdytojo pateiktos
		Užsakovui prekės ar paslaugos yra įkeičiamos, perleidžiamos ar
		perduodamos naudotis tretiesiems asmenims ar kitaip suvaržoma
		Vykdytojo teisė į prekes ar paslaugas, ir Užsakovas nėra už
		jas (juos) pilnai atsiskaitęs; (iv) kai yra sudarytas susitarimas
		tarp Užsakovo ir jo kreditorių dėl skolų grąžinimo, iš kurio
		matoma, kad Vykdytojas patirs nuostolius. </font></font>
		</p>
	</li></ol>
	</li>
	</p><p style="margin-bottom: 0cm; line-height: 100%"><br>

</p><p style="margin-bottom: 0cm; line-height: 100%"><br>
</p><p style="margin-bottom: 0cm; line-height: 100%"><br>
</p><p style="margin-bottom: 0cm; line-height: 100%"><br>
</p><p style="margin-bottom: 0cm; line-height: 100%"><br>
</p><p style="margin-bottom: 0cm; line-height: 100%"><br>
</p><p style="margin-bottom: 0cm; line-height: 100%"><br>
</p><p style="margin-bottom: 0cm; line-height: 100%"><br>
</p><p style="margin-bottom: 0cm; line-height: 100%"><br>
	</p><p style="margin-bottom: 0cm; line-height: 100%"><br>
	</p><p style="margin-bottom: 0cm; line-height: 100%"><br>
	</p><p style="margin-bottom: 0cm; line-height: 100%"><br>
	</p><p style="margin-bottom: 0cm; line-height: 100%"><br>
	</p><p style="margin-bottom: 0cm; line-height: 100%"><br>
	</p><p style="margin-bottom: 0cm; line-height: 100%"><br>
	</p><p style="margin-bottom: 0cm; line-height: 100%"><br>
	</p><p style="margin-bottom: 0cm; line-height: 100%"><br>
	</p><p style="margin-bottom: 0cm; line-height: 100%"><br>
	</p><p style="margin-bottom: 0cm; line-height: 100%"><br>
	<li><p align="justify" style="margin-bottom: 0cm; line-height: 100%">
	<font face="Arial, serif"><font size="2" style="font-size: 9pt"><b>ŠALIŲ
	ADRESAI, REKVIZITAI IR PARAŠAI:</b></font></font></p>
</li></ol><p align="justify" style="margin-bottom: 0cm; line-height: 100%"><br>
</p><table width="624" cellpadding="7" cellspacing="0" >
	<colgroup><col width="279">
	<col width="317">
	</colgroup><tbody><tr valign="top">
		<td width="279" style="border: none; padding: 0cm">
			<p align="justify"><font face="Arial, serif"><font size="2" style="font-size: 9pt"><b>VYKDYTOJAS:</b></font></font></p>
		</td>
		<td width="317" style="border: none; padding: 0cm">
			<p align="justify"><font face="Arial, serif"><font size="2" style="font-size: 9pt"><b>UŽSAKOVAS:</b></font></font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="279" style="border: none; padding: 0cm">
			<p><font face="Arial, serif"><font size="2" style="font-size: 9pt"><span > ${object.company_id.name or "" } </span></font></font></p>
		</td>
		<td width="317" style="border: none; padding: 0cm">
			<p><font face="Arial, serif"><font size="2" style="font-size: 9pt"><span > ${object.partner_id.name or "" } </span></font></font></p>
		</td>
	</tr>
	<tr>
		<td width="279" style="border: none; padding: 0cm">
			<p><font face="Arial, serif"><font size="2" style="font-size: 9pt"><span > ${object.company_id.street or "" }, ${object.company_id.city or "" }, ${object.company_id.state_id.name or "" }, ${object.company_id.zip or "" }, ${object.company_id.country_id.name or "" } </span></font></font></p>
		</td>
		<td width="317" valign="top" style="border: none; padding: 0cm">
			<p> ${object.partner_id.street or "" }, ${object.partner_id.city or "" }, ${object.partner_id.state_id.name or "" }, ${object.partner_id.zip or "" }, ${object.partner_id.country_id.name or ""  or "" }
			</p>
		</td>
	</tr>
	<tr>
		<td width="279" style="border: none; padding: 0cm">
			<p><font face="Arial, serif"><font size="2" style="font-size: 9pt"><span >Įmonės
			kodas ${object.company_id.company_registry or "" } </span></font></font></p>
		</td>
		<td width="317" valign="top" style="border: none; padding: 0cm">
			<p><font face="Arial, serif"><font size="2" style="font-size: 9pt"><span >Įmonės
			kodas  ${object.partner_id.ref or "" } </span></font></font></p>
		</td>
	</tr>
	<tr>
		<td width="279" style="border: none; padding: 0cm">
			<p><font face="Arial, serif"><font size="2" style="font-size: 9pt"><span >PVM
			kodas  ${object.company_id.vat or "" } <!-- Same as in long contract template --></span></font></font></p>
		</td>
		<td width="317" valign="top" style="border: none; padding: 0cm">
			<p><font face="Arial, serif"><font size="2" style="font-size: 9pt"><span >PVM
			kodas  ${object.partner_id.vat or "" } </span></font></font>
			</p>
		</td>
	</tr>
	<tr>
		<td width="279" style="border: none; padding: 0cm">
			<p><font face="Arial, serif"><font size="2" style="font-size: 9pt"><span >A./s.
			 ${object.owner_account_4_transaction.acc_number or "" } </span></font></font></p>
		</td>
				<td width="279" style="border: none; padding: 0cm">
			<p><font face="Arial, serif"><font size="2" style="font-size: 9pt"><span >A./s.
			 ${object.customer_account_4_transaction.acc_number or "" } </span></font></font></p>
		</td>
	</tr>
	<tr>
		<td width="279" style="border: none; padding: 0cm">
			<p><font face="Arial, serif"><font size="2" style="font-size: 9pt"><span > ${object.owner_account_4_transaction.bank_name or "" }, Banko kodas ${object.owner_account_4_transaction.bank_bic or "" } </span></font></font></p>
		</td>
		<td width="279" style="border: none; padding: 0cm">
			<p><font face="Arial, serif"><font size="2" style="font-size: 9pt"><span > ${object.customer_account_4_transaction.bank_name or "" }, Banko kodas ${object.customer_account_4_transaction.bank_bic or "" } </span></font></font></p>
		</td>
	</tr>
	<tr>
		<td width="279" style="border: none; padding: 0cm">
			<p><font face="Arial, serif"><font size="2" style="font-size: 9pt"><span >Tel.: ${object.company_id.phone or ""} </span></font></font></p>
		</td>
		<td width="317" style="border: none; padding: 0cm">
			<p><font face="Arial, serif"><font size="2" style="font-size: 9pt"><span >Tel.: ${object.partner_id.phone or ""} </span></font></font></p>
		</td>
	</tr>
	<tr>
		<td width="279" style="border: none; padding: 0cm">
			<p><font face="Arial, serif"><font size="2" style="font-size: 9pt"><span >Fax: ${object.company_id.fax or "" } </span></font></font></p>
		</td>
		<td width="317" style="border: none; padding: 0cm">
			<p><font face="Arial, serif"><font size="2" style="font-size: 9pt"><span >Fax: ${object.partner_id.fax or "" } </span></font></font></p>
		</td>
	</tr>
	<tr>
		<td width="279" style="border: none; padding: 0cm">
			<p><font face="Arial, serif"><font size="2" style="font-size: 9pt"><span >El.
			paštas: ${object.company_id.email or ""} </span></font></font></p>
		</td>
		<td width="317" style="border: none; padding: 0cm">
			<p><font face="Arial, serif"><font size="2" style="font-size: 9pt"><span >El.
			paštas: ${object.partner_id.email or ""} </span></font></font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="279" style="border: none; padding: 0cm">
			<p style="margin-bottom: 0cm"><br>
			</p>
			<p style="margin-bottom: 0cm"><font face="Arial, serif"><font size="2" style="font-size: 9pt"><span > ${ctx['manager_job_id'] or "" or "" } </span></font></font></p>
			<p style="margin-bottom: 0cm"><font face="Arial, serif"><font size="2" style="font-size: 9pt"><span > ${object.manager_id.name or "" } </span></font></font><font face="Arial, serif"><font size="2" style="font-size: 9pt">
			</font></font>
			</p>
			<p style="margin-bottom: 0cm"><br>
			</p>
			<p><font face="Arial, serif"><font size="2" style="font-size: 9pt">_____________________A.V.</font></font></p>
		</td>
		<td width="317" style="border: none; padding: 0cm">
			<p style="margin-bottom: 0cm"><br>
			</p>
			<p style="margin-bottom: 0cm"><font face="Arial, serif"><font size="2" style="font-size: 9pt"><span > ${object.customer_employee_id.function or "" } </span></font></font></p>
			<p style="margin-bottom: 0cm"><font face="Arial, serif"><font size="2" style="font-size: 9pt"><span > ${object.customer_employee_id.name} </span></font></font><font face="Arial, serif"><font size="2" style="font-size: 9pt">
			<p style="margin-bottom: 0cm"><br>
			</p>
			<p><font face="Arial, serif"><font size="2" style="font-size: 9pt">_______________________A.V.</font></font></p>
		</td>
	</tr>
</tbody></table>
</p><p style="margin-bottom: 0cm; line-height: 100%"><br>
</p><p style="margin-bottom: 0cm; line-height: 100%"><br>
</p><p style="margin-bottom: 0cm; line-height: 100%"><br>
</p><p style="margin-bottom: 0cm; line-height: 100%"><br>
</p><p style="margin-bottom: 0cm; line-height: 100%"><br>
</p><p style="margin-bottom: 0cm; line-height: 100%"><br>
</p><p style="margin-bottom: 0cm; line-height: 100%"><br>
</p><p style="margin-bottom: 0cm; line-height: 100%"><br>
</p><p style="margin-bottom: 0cm; line-height: 100%"><br>
</p><p style="margin-bottom: 0cm; line-height: 100%"><br>
</p><p style="margin-bottom: 0cm; line-height: 100%"><br>
</p><p style="margin-bottom: 0cm; line-height: 100%"><br>
</p><p style="margin-bottom: 0cm; line-height: 100%"><br>
</p><p style="margin-bottom: 0cm; line-height: 100%"><br>
</p><p style="margin-bottom: 0cm; line-height: 100%"><br>
</p><p style="margin-bottom: 0cm; line-height: 100%"><br>
</p><p style="margin-bottom: 0cm; line-height: 100%"><br>
</p><p style="margin-bottom: 0cm; line-height: 100%"><br>
</p><p style="margin-bottom: 0cm; line-height: 100%"><br>
</p><p style="margin-bottom: 0cm; line-height: 100%"><br>
</p><p style="margin-bottom: 0cm; line-height: 100%"><br>
</p><p style="margin-bottom: 0cm; line-height: 100%"><br>
</p><p style="margin-bottom: 0cm; line-height: 100%"><br>
</p><p style="margin-bottom: 0cm; line-height: 100%"><br>
</p><p style="margin-bottom: 0cm; line-height: 100%"><br>
</p><p style="margin-bottom: 0cm; line-height: 100%"><br>
</p><p style="margin-bottom: 0cm; line-height: 100%"><br>
</p><p style="margin-bottom: 0cm; line-height: 100%"><br>
</p><p style="margin-bottom: 0cm; line-height: 100%"><br>
</p><p style="margin-bottom: 0cm; line-height: 100%"><br>
</p><p style="margin-bottom: 0cm; line-height: 100%"><br>
</p><p style="margin-bottom: 0cm; line-height: 100%"><br>
</p><p style="margin-bottom: 0cm; line-height: 100%"><br>
</p><p style="margin-bottom: 0cm; line-height: 100%"><br>
</p><p style="margin-bottom: 0cm; line-height: 100%"><br>
</p><p style="margin-bottom: 0cm; line-height: 100%"><br>
</p><p style="margin-bottom: 0cm; line-height: 100%"><br>
</p><p style="margin-bottom: 0cm; line-height: 100%"><br>
<p align="justify" style="margin-bottom: 0cm; line-height: 100%"><br>
</p><p align="right" style="margin-bottom: 0cm; line-height: 100%"><font face="Arial, serif"><font size="2" style="font-size: 9pt">Paslaugų
sutarties priedas</font></font></p><p align="right" style="margin-bottom: 0cm; line-height: 100%"><font face="Arial, serif"><font size="2" style="font-size: 9pt"><b>Priedo-užsakymo
pavyzdinė forma</b></font></font></p><p align="right" style="margin-bottom: 0cm; line-height: 100%"><br>
</p><table width="672" cellpadding="7" cellspacing="0">
	<colgroup><col width="279">
	<col width="81">
	<col width="270">
	</colgroup><tbody><tr valign="top">
		<td width="279" height="5" style="border: none; padding: 0cm">
			<p style="margin-bottom: 0cm; widows: 2; orphans: 2"><font face="Arial, serif"><font size="2" style="font-size: 9pt"><span > ${object.company_id.name or "" } </span></font></font></p>
			<p style="margin-bottom: 0cm; widows: 2; orphans: 2"><font face="Arial, serif"><font size="2" style="font-size: 9pt"><span >Į.
			k. ${object.company_id.company_registry or "" } </span></font></font></p>
			<p style="margin-bottom: 0cm; widows: 2; orphans: 2"><font face="Arial, serif"><font size="2" style="font-size: 9pt"><span >PVM
			${object.company_id.vat or "" } </span></font></font></p>
			<p style="widows: 2; orphans: 2"><font face="Arial, serif"><font size="2" style="font-size: 9pt"><span > ${object.company_id.street or "" }, ${object.company_id.city or "" }, ${object.company_id.state_id.name or "" }, ${object.company_id.zip or "" }, ${object.company_id.country_id.name or "" } </span></font></font></p>
		</td>
		<td width="81" style="border: none; padding: 0cm">
			<p style="widows: 2; orphans: 2"><br>
			</p>
		</td>
		<td width="270" style="border: none; padding: 0cm">
			<p><br>
			</p>
		</td>
	</tr>
</tbody></table>


<p style="margin-bottom: 0cm; line-height: 100%"><br>
</p><p style="margin-bottom: 0cm; line-height: 100%"><br>
</p><h3 class="western" style="margin-left: 1.27cm; text-indent: -1.27cm">
<font face="Arial, serif"><font size="2" style="font-size: 9pt">PRIEDAS
– UŽSAKYMAS Nr. ____</font></font></h3><p align="center" style="margin-bottom: 0cm; line-height: 100%"><font face="Arial, serif"><font size="2" style="font-size: 9pt">prie
2015 __________  Sutarties Nr. _____________</font></font></p><p align="center" style="margin-bottom: 0cm; line-height: 100%"><br>
</p><p align="right" style="margin-bottom: 0cm; line-height: 100%"><font face="Arial, serif"><font size="2" style="font-size: 9pt">2015__________</font></font></p><p align="right" style="margin-bottom: 0cm; line-height: 100%"><font face="Arial, serif"><font size="2" style="font-size: 9pt">Vilnius</font></font></p><p style="margin-bottom: 0cm; line-height: 100%"><br>
</p><p style="margin-bottom: 0cm; line-height: 100%"><a name="h.261niu986h80"></a>
<br>
</p>
<table width="642" cellpadding="7" cellspacing="0">
	<colgroup><col width="67">
	<col width="180">
	<col width="88">
	<col width="152">
	<col width="4355">
	<col width="83">
	</colgroup><tbody><tr valign="top">
		<td width="67" style="border: 1.00pt solid #000001; padding: 0.18cm">
			<p align="center" style="margin-left: 0.18cm"><font face="Arial, serif"><font size="2" style="font-size: 9pt"><b>Gaminys</b></font></font></p>
		</td>
		<td width="180" style="border-top: 1.00pt solid #000001; border-bottom: 1.00pt solid #000001; border-left: none; border-right: 1.00pt solid #000001; padding-top: 0.18cm; padding-bottom: 0.18cm; padding-left: 0cm; padding-right: 0.18cm">
			<p align="center" style="margin-left: 0.18cm"><font face="Arial, serif"><font size="2" style="font-size: 9pt"><b>Gaminio
			charakteristika</b></font></font></p>
		</td>
		<td width="88" style="border-top: 1.00pt solid #000001; border-bottom: 1.00pt solid #000001; border-left: none; border-right: 1.00pt solid #000001; padding-top: 0.18cm; padding-bottom: 0.18cm; padding-left: 0cm; padding-right: 0.18cm">
			<p align="center" style="margin-left: 0.18cm"><font face="Arial, serif"><font size="2" style="font-size: 9pt"><b>Kiekis,
			vnt.</b></font></font></p>
		</td>
		<td width="152" style="border-top: 1.00pt solid #000001; border-bottom: 1.00pt solid #000001; border-left: none; border-right: 1.00pt solid #000001; padding-top: 0.18cm; padding-bottom: 0.18cm; padding-left: 0cm; padding-right: 0.18cm">
			<p align="center" style="margin-left: 0.18cm"><font face="Arial, serif"><font size="2" style="font-size: 9pt"><b>Vieneto
			kaina, EUR</b></font></font></p>
		</td>
		<td colspan="2" width="83" style="border-top: 1.00pt solid #000001; border-bottom: 1.00pt solid #000001; border-left: none; border-right: 1.00pt solid #000001; padding-top: 0.18cm; padding-bottom: 0.18cm; padding-left: 0cm; padding-right: 0.18cm">
			<p align="center" style="margin-left: 0.18cm"><font face="Arial, serif"><font size="2" style="font-size: 9pt"><b>Suma,
			EUR</b></font></font></p>
		</td>
	</tr>
	<tr valign="bottom">
		<td width="67" style="border-top: none; border-bottom: 1.00pt solid #000001; border-left: 1.00pt solid #000001; border-right: 1.00pt solid #000001; padding-top: 0cm; padding-bottom: 0.18cm; padding-left: 0.18cm; padding-right: 0.18cm">
			<p style="margin-left: 0.18cm"> 
			</p>
		</td>
		<td width="180" style="border-top: none; border-bottom: 1.00pt solid #000001; border-left: none; border-right: 1.00pt solid #000001; padding-top: 0cm; padding-bottom: 0.18cm; padding-left: 0cm; padding-right: 0.18cm">
			<p style="margin-left: 0.18cm"> 
			</p>
		</td>
		<td width="88" style="border-top: none; border-bottom: 1.00pt solid #000001; border-left: none; border-right: 1.00pt solid #000001; padding-top: 0cm; padding-bottom: 0.18cm; padding-left: 0cm; padding-right: 0.18cm">
			<p style="margin-left: 0.18cm"> 
			</p>
		</td>
		<td width="152" style="border-top: none; border-bottom: 1.00pt solid #000001; border-left: none; border-right: 1.00pt solid #000001; padding-top: 0cm; padding-bottom: 0.18cm; padding-left: 0cm; padding-right: 0.18cm">
			<p style="margin-left: 0.18cm"> 
			</p>
		</td>
		<td colspan="2" width="83" style="border-top: none; border-bottom: 1.00pt solid #000001; border-left: none; border-right: 1.00pt solid #000001; padding-top: 0cm; padding-bottom: 0.18cm; padding-left: 0cm; padding-right: 0.18cm">
			<p style="margin-left: 0.18cm"> 
			</p>
		</td>
	</tr>
	<tr valign="bottom">
		<td width="67" style="border-top: none; border-bottom: 1.00pt solid #000001; border-left: 1.00pt solid #000001; border-right: 1.00pt solid #000001; padding-top: 0cm; padding-bottom: 0.18cm; padding-left: 0.18cm; padding-right: 0.18cm">
			<p style="margin-left: 0.18cm"> 
			</p>
		</td>
		<td width="180" style="border-top: none; border-bottom: 1.00pt solid #000001; border-left: none; border-right: 1.00pt solid #000001; padding-top: 0cm; padding-bottom: 0.18cm; padding-left: 0cm; padding-right: 0.18cm">
			<p style="margin-left: 0.18cm"> 
			</p>
		</td>
		<td width="88" style="border-top: none; border-bottom: 1.00pt solid #000001; border-left: none; border-right: 1.00pt solid #000001; padding-top: 0cm; padding-bottom: 0.18cm; padding-left: 0cm; padding-right: 0.18cm">
			<p style="margin-left: 0.18cm"> 
			</p>
		</td>
		<td width="152" style="border-top: none; border-bottom: 1.00pt solid #000001; border-left: none; border-right: 1.00pt solid #000001; padding-top: 0cm; padding-bottom: 0.18cm; padding-left: 0cm; padding-right: 0.18cm">
			<p style="margin-left: 0.18cm"> 
			</p>
		</td>
		<td colspan="2" width="83" style="border-top: none; border-bottom: 1.00pt solid #000001; border-left: none; border-right: 1.00pt solid #000001; padding-top: 0cm; padding-bottom: 0.18cm; padding-left: 0cm; padding-right: 0.18cm">
			<p style="margin-left: 0.18cm"> 
			</p>
		</td>
	</tr>
	<tr valign="bottom">
		<td width="67" style="border-top: none; border-bottom: 1.00pt solid #000001; border-left: 1.00pt solid #000001; border-right: 1.00pt solid #000001; padding-top: 0cm; padding-bottom: 0.18cm; padding-left: 0.18cm; padding-right: 0.18cm">
			<p style="margin-left: 0.18cm"> 
			</p>
		</td>
		<td width="180" style="border-top: none; border-bottom: 1.00pt solid #000001; border-left: none; border-right: 1.00pt solid #000001; padding-top: 0cm; padding-bottom: 0.18cm; padding-left: 0cm; padding-right: 0.18cm">
			<p style="margin-left: 0.18cm"> 
			</p>
		</td>
		<td colspan="3" width="254" style="border-top: none; border-bottom: 1.00pt solid #000001; border-left: none; border-right: 1.00pt solid #000001; padding-top: 0cm; padding-bottom: 0.18cm; padding-left: 0cm; padding-right: 0.18cm">
			<p align="right" style="margin-left: 0.18cm"><font face="Arial, serif"><font size="2" style="font-size: 9pt"><b>Suma
			iš viso:</b></font></font></p>
		</td>
		<td width="83" style="border-top: none; border-bottom: 1.00pt solid #000001; border-left: none; border-right: 1.00pt solid #000001; padding-top: 0cm; padding-bottom: 0.18cm; padding-left: 0cm; padding-right: 0.18cm">
			<p style="margin-left: 0.18cm"> 
			</p>
		</td>
	</tr>
	<tr valign="bottom">
		<td width="67" style="border-top: none; border-bottom: 1.00pt solid #000001; border-left: 1.00pt solid #000001; border-right: 1.00pt solid #000001; padding-top: 0cm; padding-bottom: 0.18cm; padding-left: 0.18cm; padding-right: 0.18cm">
			<p style="margin-left: 0.18cm"> 
			</p>
		</td>
		<td width="180" style="border-top: none; border-bottom: 1.00pt solid #000001; border-left: none; border-right: 1.00pt solid #000001; padding-top: 0cm; padding-bottom: 0.18cm; padding-left: 0cm; padding-right: 0.18cm">
			<p style="margin-left: 0.18cm"> 
			</p>
		</td>
		<td colspan="3" width="254" style="border-top: none; border-bottom: 1.00pt solid #000001; border-left: none; border-right: 1.00pt solid #000001; padding-top: 0cm; padding-bottom: 0.18cm; padding-left: 0cm; padding-right: 0.18cm">
			<p align="right" style="margin-left: 0.18cm"><font face="Arial, serif"><font size="2" style="font-size: 9pt"><b>PVM:</b></font></font></p>
		</td>
		<td width="83" style="border-top: none; border-bottom: 1.00pt solid #000001; border-left: none; border-right: 1.00pt solid #000001; padding-top: 0cm; padding-bottom: 0.18cm; padding-left: 0cm; padding-right: 0.18cm">
			<p style="margin-left: 0.18cm"> 
			</p>
		</td>
	</tr>
	<tr valign="bottom">
		<td width="67" style="border-top: none; border-bottom: 1.00pt solid #000001; border-left: 1.00pt solid #000001; border-right: 1.00pt solid #000001; padding-top: 0cm; padding-bottom: 0.18cm; padding-left: 0.18cm; padding-right: 0.18cm">
			<p style="margin-left: 0.18cm"> 
			</p>
		</td>
		<td width="180" style="border-top: none; border-bottom: 1.00pt solid #000001; border-left: none; border-right: 1.00pt solid #000001; padding-top: 0cm; padding-bottom: 0.18cm; padding-left: 0cm; padding-right: 0.18cm">
			<p style="margin-left: 0.18cm"> 
			</p>
		</td>
		<td colspan="3" width="254" style="border-top: none; border-bottom: 1.00pt solid #000001; border-left: none; border-right: 1.00pt solid #000001; padding-top: 0cm; padding-bottom: 0.18cm; padding-left: 0cm; padding-right: 0.18cm">
			<p align="right" style="margin-left: 0.18cm"><font face="Arial, serif"><font size="2" style="font-size: 9pt"><b>Suma
			su PVM:</b></font></font></p>
		</td>
		<td width="83" style="border-top: none; border-bottom: 1.00pt solid #000001; border-left: none; border-right: 1.00pt solid #000001; padding-top: 0cm; padding-bottom: 0.18cm; padding-left: 0cm; padding-right: 0.18cm">
			<p style="margin-left: 0.18cm"> 
			</p>
		</td>
	</tr>
</tbody></table><p style="margin-bottom: 0cm; line-height: 100%"><a name="h.gjdgxs"></a>
<br>
</p><p style="margin-bottom: 0cm; line-height: 100%"><br>
</p><p style="margin-bottom: 0cm; line-height: 100%"><font face="Arial, serif"><font size="2" style="font-size: 9pt">Maketo,
informacijos ir darbinės medžiagos pateikimo terminas: ________d.d.
</font></font>
</p><p style="margin-bottom: 0cm; line-height: 100%"><br>
</p><p style="margin-bottom: 0cm; line-height: 100%"><font face="Arial, serif"><font size="2" style="font-size: 9pt">Atlikimo
terminas: _____d. d. nuo galutinio maketo patvirtinimo raštu.</font></font></p><p style="margin-bottom: 0cm; line-height: 100%"><br>
</p><p style="margin-bottom: 0cm; line-height: 100%"><font face="Arial, serif"><font size="2" style="font-size: 9pt">Produkcija
pristatoma:</font></font><font face="Arial, serif"><font size="2" style="font-size: 9pt"><i>
_________________________________________________</i></font></font></p><p style="margin-bottom: 0cm; line-height: 100%"><br>
</p><p style="margin-bottom: 0cm; line-height: 100%"><font face="Arial, serif"><font size="2" style="font-size: 9pt">Užsakovo
kontaktinis asmuo: ___________________________________________</font></font></p><p style="margin-bottom: 0cm; line-height: 100%"><br>
</p><p style="margin-bottom: 0cm; line-height: 100%"><br>
</p><p align="right" style="margin-bottom: 0cm; line-height: 100%"><br>
</p><p style="margin-bottom: 0cm; line-height: 100%">  
</p><table width="672" cellpadding="7" cellspacing="0">
	<colgroup><col width="279">
	<col width="80">
	<col width="271">
	</colgroup><tbody><tr valign="top">
		<td width="279" height="3" style="border: none; padding: 0cm">
			<p style="margin-bottom: 0cm; widows: 2; orphans: 2"><font face="Arial, serif"><font size="2" style="font-size: 9pt">Sudarė:</font></font></p>
			<p style="margin-bottom: 0cm; widows: 2; orphans: 2"><br>
			</p>
			<p style="margin-bottom: 0cm; widows: 2; orphans: 2"><br>
			</p>
			<p style="margin-bottom: 0cm; widows: 2; orphans: 2"><font face="Arial, serif"><font size="2" style="font-size: 9pt">Tel.:
			</font></font>
			</p>
			<p style="widows: 2; orphans: 2"><font face="Arial, serif"><font size="2" style="font-size: 9pt">E-paštas:
			</font></font>
			</p>
		</td>
		<td width="80" style="border: none; padding: 0cm">
			<p style="widows: 2; orphans: 2">        
			</p>
		</td>
		<td width="271" style="border: none; padding: 0cm">
			<p style="margin-bottom: 0cm; widows: 2; orphans: 2">             
			                  <font face="Arial, serif"><font size="2" style="font-size: 9pt">Pasiūlymą
			tvirtinu:</font></font></p>
			<p style="margin-bottom: 0cm; widows: 2; orphans: 2"><br>
			</p>
			<p style="widows: 2; orphans: 2"><br>
			</p>
		</td>
	</tr>
</tbody></table><p style="margin-bottom: 0cm; line-height: 100%"><br>
</p><p align="justify" style="margin-bottom: 0cm; line-height: 100%"><br>
</p><p style="margin-bottom: 0cm; line-height: 100%"><br>
</p><p align="center" style="margin-bottom: 0cm; line-height: 100%">
	
	
	
















































































</p><p style="margin-bottom: 0cm; line-height: 100%"><br>
</p>